@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;







body::-webkit-scrollbar {
    display: none;
    box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* .no-scrollbar { */
    /* -ms-overflow-style: none;  IE and Edge */
    /* scrollbar-width: none;  Firefox */
/* } */

.custom-number-input::-webkit-outer-spin-button,
.custom-number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .custom-number-input {
  -moz-appearance: textfield;
} */

/* for removing the scrollbar in dropdown component */
.custom-scrollbar::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }

body{
    font-family: "Nunito Sans", sans-serif;
}