<form action="/flight/search/result" method="post">
    <input type="text" placeholder="from city" name="flight[from]" required>
    <input type="text" placeholder="to city" name="flight[to]" required>
    <input type="date" name="flight[date]" required>
    <button>Search</button>

</form>

<hr>
<h1>Real time Info</h1>